body {
  background-color: whitesmoke;
}
.App {
  padding: 10px;
}
input {
  margin-bottom: 5px;
}
.Heading {
  font-weight: bold;
}
.custom-file-upload {
  background-color: rgb(196, 195, 195);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
img {
  width: 21vw;
  height: auto;
  margin-right: 50px;
}
p {
  width: 50vw;
}
.display-flex {
  display: flex;
}
.progress-label {
  margin-bottom: 5px;
}
.progress-bar {
  background-color: rgb(22, 12, 172);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  max-width: 50vw;
}
.progress {
  background-color: rgb(22, 12, 172);
  width: 0%;
  height: 10px;
}