body {
  background-color: whitesmoke;
}
.App {
  padding: 10px;
}
.Main {
  padding-top: 40px;
  text-align: center;
  color: cornflowerblue;
}
input {
  margin-bottom: 10px;
}
.Heading {
  font-weight: bold;
  text-align: center;
}
.custom-file-upload {
  background-color: rgb(196, 195, 195);
  display: inline-block;
  text-align: center;
  padding: 6px 12px;
  cursor: pointer;
}
img {
  width: 20vw;
  height: auto;
  text-align: center;
}
p {
  width: 50vw;
}
.progress-label {
  margin-bottom: 5px;
}
.progress-bar {
  background-color: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  max-width: 50vw;
}
.progress {
  background-color: cornflowerblue;
  width: 0%;
  height: 10px;
}
.textAreaStyle {
  width: 20vw;
  height: 10vh;
  align-items: center;
  resize: both;
  pointer-events: none;
}
.buttonStyle {
  background-color: cornflowerblue;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}